hw1Grade.py
hw1p2Grade.py
results.txt
rsogani@ad3.ucdavis.edu
.DS_Store
hzhang09@ad3.ucdavis.edu  
aambekar@ad3.ucdavis.edu
adutta25@ad3.ucdavis.edu
akchak@ad3.ucdavis.edu/
useVelocity.out
useVelocity1.out
finalTest.in
finalTest.out
test1.in
test2.in
test3.in
test4.in
test5.in
test6.in
test7.in
test8.in
test9.in
grade2.py
turn1results.txt