.vscode
hw1Grade.py
hw1p2Grade.py
results.txt
rsogani@ad3.ucdavis.edu
.DS_Store
gamma@ad3.ucdavis.edu  
alpha@ad3.ucdavis.edu
beta@ad3.ucdavis.edu
delta@ad3.ucdavis.edu/
useVelocity.out
useVelocity1.out
finalTest.in
finalTest.out
test1.in
test2.in
test3.in
test4.in
test5.in
test6.in
test7.in
test8.in
test9.in
grade2.py
turn1results.txt
StudentIDScores.txt
StudentIDScores1.txt
StudentIDScores2.txt
results1.txt
results2.txt
final.txt
totalStudents.txt
uploadFinal.txt
omega@ad3.ucdavis.edu
s1.txt
zeta@ad3.ucdavis.edu/
lambda@ad3.ucdavis.edu/
/hw2/solutions/